<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>now</servlet-name>
		<servlet-class>example.NowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>now</servlet-name>
		<url-pattern>/now</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBCPInit2</servlet-name>
		<servlet-class>jdbc.DBCPInit2</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcUrl</param-name>
			<param-value>
	            jdbc:mysql://localhost:3306/chap14?characterEncoding=utf8
	        </param-value>
		</init-param>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>jspexam</param-value>
		</init-param>
		<init-param>
			<param-name>dbPass</param-name>
			<param-value>jsppw</param-value>
		</init-param>
		<init-param>
			<param-name>poolName</param-name>
			<param-value>chap14</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>