<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
			 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
	
	<jsp-config>
		<taglib>
			<taglib-uri>
				/WEB-INF/tlds/el-functions.tld
			</taglib-uri>
			<taglib-location>
				/WEB-INF/tlds/el-functions.tld
			</taglib-location>
		</taglib>

        <jsp-property-group>
            <url-pattern>/oldversion/*</url-pattern>
            <el-ignored>true</el-ignored>
        </jsp-property-group>

	</jsp-config>

</web-app>
